<% include header %>

<%- include('navbar', {user: user}); %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container guide">
		<h2>Guide</h2>
	</div>
</div>

	<hr>

	<footer>
		<p>&copy; Jonne Pihlanen 2015</p>
	</footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

<script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
<script>

// "http://www.tvapi-mashupjonne.rhcloud.com/addpost"

$(document).ready(function() {

	var series = <%- JSON.stringify(series) %>

	$.each(series, function(index,serie) {
		$(".container.guide").append("<p>" + serie.name + " : " + serie.start + "</p>");
	});

});


</script>

<% include footer %>