<% include header %>

<%- include('navbar', {user: user}); %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container guide">
	</div>
  <p> The bubble chart shows the lengths of the tv-program-names. Each "channel-family" is plotted with different color. </p>
</div>

	<hr>

	<footer>
		<p>&copy; Jonne Pihlanen 2015</p>
	</footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

<script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

$(document).ready(function() {

  var programs = <%- JSON.stringify(programs) %>

  var channels = [{name:"yle1"},{name:"yle2"},{name:"mtv3"},{name:"nelonen"},{name:"subtv"},{name:"liv"},{name:"jim"},{name:"viisi"},{name:"kutonen"},{name:"fox"},{name:"ava"},{name:"hero"}];

  var color = d3.scale.ordinal().range(['#45B29D', '#45B29D', '#DF4949', '#E27A3F', '#DF4949', '#E27A3F', '#E27A3F' , '#E3814D', '#E3814D', '#E489CD', '#DF4949', '#E27A3F']); 

  var diameter = 400;
  var svg_width = 800;
  var svg_height = 400;

  var svg = d3.select('.container.guide')
    .append('svg')
    .attr('width', svg_width)
    .attr('height', svg_height)
    .append('g');
 
  var bubble = d3.layout.pack()
    .size([diameter, diameter])
    .padding(3) // padding between adjacent circles
    .value(function(d) {return d.size;}) // new data will be loaded to bubble layout

  var nodes = bubble.nodes(processData(programs))
    .filter(function(d) { return !d.children; }); // filter out the outer bubble

  var circle = svg.selectAll('.circle')
    .data(nodes, function(d) { return d.name; })
    .enter();
 
  circle.append('circle')
    .attr('transform', function(d) { return 'translate(' + d.x + ',' + d.y + ')'; })
    .attr('r', function(d) { return d.r; })
    .attr('class', function(d) { return d.className; });

  // vis.append("text")
  //     .attr('transform', function(d) { return 'translate(' + d.x + ',' + d.y + ')'; })
  //     .style("text-anchor", "middle")
  //     .text(function(d) { return d.className; });

  var legendRectSize = 18;
  var legendSpacing = 4;

  var legend = svg.selectAll('.legend')
    .data(channels)
    .enter()
    .append('g')
    .attr('class', 'legend')
    .attr('transform', function(d, i) {
      var height = legendRectSize + legendSpacing;
      var offset =  height * color.domain().length / 2;
      var horz = -2 * legendRectSize;
      var vert = i * height - offset;
      return 'translate(' + horz + ',' + vert + ')';
    });

    legend.append('rect')
      .attr('width', legendRectSize)
      .attr('height', legendRectSize)
      .attr('x', legendRectSize + 450)
      .attr('y', legendRectSize - legendSpacing + 35)
      .style('fill', color)
      .style('stroke', color);

    legend.append('text')
      .attr('x', legendRectSize + legendSpacing + 480)
      .attr('y', legendRectSize - legendSpacing + 50)
      .text(function(d) { return d.name; });

  function processData(data) {

    var newDataSet = [];

    for(var program in data) {
      newDataSet.push({name: data[program].data.name, className: data[program].channelName.toLowerCase(), size: data[program].data.name.length});
    }
    return {children: newDataSet};

  }

  d3.select(self.frameElement).style("height", diameter + "px");

});

</script>

<% include footer %>