<% include header %>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">TV-API</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
                <li id="home"><a href="/">Home</a></li>
                <li id="newpost"><a href="/newpost">New Post</a></li>
                <li id="about"><a href="/about">About</a></li>
            </ul>
			<form class="navbar-form navbar-right">
				<div class="form-group">
					<input type="text" placeholder="Email" class="form-control" name="email">
				</div>
				<div class="form-group">
					<input type="password" placeholder="Password" class="form-control" name="password">
				</div>
				<button type="submit" class="btn btn-success">Sign in</button>
			</form>
		</div><!--/.navbar-collapse -->
	</div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Write a new post!</h1>

		<form class="post-form">
			<div class="form-group">
				<input id="title" type="text" placeholder="Title" class="form-control">
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="10" id="text" placeholder="Content"></textarea>
			</div>
			<button class="btn btn-success" type="button">Add post!</button>
		</form>

	</div>
</div>

<div class="container">
	<hr>
	<footer>
		<p>&copy; Jonne Pihlanen 2015</p>
	</footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

<script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
<script>

<!-- "http://www.tvapi-mashupjonne.rhcloud.com/addpost" -->

$(document).ready(function() {

	console.log("page loaded!");

	var socket = io('http://127.0.0.1:8080');

	$(".btn.btn-success").click(function() {

		console.log("button clicked");

		var title = $("#title").val();
		var text = $("#text").val();

		var formData = {title: title, text: text};
		
		console.log("form data: " + formData);

		socket.emit('data',formData);
	});

});

</script>

<% include footer %>